/* ベーススタイル */
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #ffffff; /* 白色背景 */
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #33ddff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ヘッダー */
header {
  background-color: #000;
  color: #fff;
  padding: 10px 10px;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

/* セクション全体 */
main {
  margin: 0;
  padding: 0;
}

h2 {
  background-color: #ddd;
  color: #000;
  margin: 0 0 10px 0;
  padding: 10px 40px;
  font-size: 20px;
}

h3 {
  margin: 0;
  padding: 10px 40px;
}

p {
  margin: 0;
  padding: 0px 40px;
}

ul {
  list-style: none;
  margin-bottom: 10px;
}

/* テーブル */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 40px;
}

th, td {
  border: 1px solid #ccc;
  padding: 0;
  text-align: center;
  background-color: #fefefe;
  min-width: 0;
  max-width: 30px;
  white-space: nowrap;
}

th {
  background-color: #ddd;
}

/* ▼表1用：列ごとの幅指定 */
.table-type1 col:nth-child(1) { width: 50px; }
.table-type1 col:nth-child(2) { width: 100px; }
.table-type1 col:nth-child(3) { width: 80px; }

/* ▼表2用：列ごとの幅指定 */
.table-type2 col:nth-child(1) { width: 120px; }
.table-type2 col:nth-child(2) { width: 60px; }
.table-type2 col:nth-child(3) { width: 200px; }

/* ホームへボタン */
.back-to-home {
  text-align: left;
  margin: 20px 0;
  padding: 0 20px;
}

.back-to-home a {
  text-decoration: none;
  font-size: 16px;
  color: #33ddff;
}

.back-to-home a:hover {
  text-decoration: underline;
}

/* フッター */
footer {
  text-align: center;
  padding: 1em;
  background-color: #f5f5f5;
  font-size: 0.9em;
}

/* モバイル対応 */
@media (max-width: 600px) {
  nav li {
    display: block;
    margin: 0.5em 0;
  }

  table, th, td {
    font-size: 0.9em;
  }
}
